<!-- Render shared navbar -->
<%= render 'shared/navbar' %>
<!-- Header for the flights index page -->
<div class="sm:grid grid-rows-8 gap-1 lg: grid-cols-10">
  <!-- Search options -->
  <div class= "pt-2 lg:w-96 col-span-3">
    <%= render 'shared/search', airports: @airports %>
  </div>
  <!-- Search Results -->
  <div class="pt-2 lg:w-96 col-span-3">
    <%= render 'flights/results' %>
  </div>
  <!-- Image -->
  <div class="pt-5 m-2 row-span-1 h-80 lg:col-start-7 col-end-10">
    <%= image_tag "airplane_hero.png", class: "lg: h-full " %>
  </div>
</div>




