<!-- Navigation bar -->
<div class="h-24 bg-orange-300 rounded lg:h-28">
  <div class="grid grid-flow-col grid-cols-34 auto-cols-max gap-x-5 pt-2 lg:grid-cols-10">
    <div class="grid grid-cols-1 items-center lg:col-span-1">
      <%= image_tag "drongo_logo.png", class: "h-12 m-2 lg:h-24 rounded-md" %>
    </div> 
    <div class="grid grid-cols-1 items-center cols-span-2 lg:col-span-5">
      <h1 class = "text-orange-900 m-1 text-xl font-semibold font-montserrat text-md lg:text-4xl">Drongo</h1>
    </div>
    <nav class="grid grid-rows-1 gap-1 lg:col-span-4 items-center">
      <ul class="grid grid-cols-1 gap-1 text-start font-montserrat text-orange-900 text-xs lg:grid-cols-3 text-end" >
        <li class = "m-1 text-xs lg:text-base">My account</li>
        <li class = "m-1 text-xs lg:text-base" >Booking</li>
        <li class = "m-1 text-xs lg:text-base">Support</li>
      </ul>
    </nav>
  </div>
</div>