<!-- Navigation bar -->
<div class="h-24 bg-orange-400 rounded lg:h-32">
  <div class="grid grid-flow-col grid-cols-3 auto-cols-max gap-x-5 lg:grid-cols-10">
    <div class="grid grid-cols-1 items-center">
      <%= image_tag "drongo_logo.png", class: "h-12 rounded-full m-2 lg:h-28 rounded-full " %>
    </div> 
    <div class="grid grid-cols-1 items-center lg:col-span-5">
      <h1 class = "text-red-600 m-1 font-semibold font-montserrat text-md lg:text-4xl">Drongo Flights</h1>
    </div>
    <nav class="grid grid-rows-1 gap-1 lg:col-span-5 items-center">
      <ul class="grid grid-cols-1 gap-1 text-start font-montserrat text-white text-xs lg:grid-cols-3 text-lg text-center" >
        <li class = "m-1 text-xs lg:text-lg">My account</li>
        <li class = "m-1 text-xs lg:text-lg" >Booking</li>
        <li class = "m-1 text-xs lg:text-lg">Customer Support</li>
      </ul>
    </nav>
  </div>
</div>